/** @format */

.hero5-d {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
  margin-top: -65px;
}

.hero5_img-d {
	background-color: white;
	border-radius: 10px;
	margin-top: 60px;
}

.d-d {
	margin-top: -85px;
	padding-left: 55px;
}

.hero5_card-title-d {
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #3d3d3f;
}

.hero5_icon-d {
	margin-top: 10px;
	cursor: pointer;
}

@media (max-width: 1034px) {
	.hero5-d {
		justify-content: space-around;
	}
}
