/** @format */

.hero-box-d {
  padding-top: 65px;
}

.hero-d {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero_title-d {
	font-weight: 600;
	font-size: 55px;
	line-height: 65px;
	color: #3d3d3f;
	max-width: 60%;
}

.hero_text-d {
	font-size: 18px;
	line-height: 24px;
	color: #3d3d3f;
	max-width: 60%;
	margin: 25px 0;
}

.hero_img-d {
  width: 540px;
  height: 350px;
}

.hero_btn-d {
	background: linear-gradient(
		2.79deg,
		#f35f2f -13.68%,
		rgba(243, 95, 47, 0.75) 121.16%
	);
	opacity: 0.85;
	border-radius: 5px;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
  border-width: 0;
  padding: 13px 25px;
  cursor: pointer;
}

@media (max-width:1230px) {
  .hero_title-d {
    font-size: 45px;
    line-height: 55px;
  }

  .hero_text-d {
    font-size: 16px;
    font-weight: 18px;
  }

  .hero_img-d {
    width: 480px;
    height: 310px;
  }
}

@media (max-width:1050px) {
  .hero_title-d {
    font-size: 38px;
    line-height: 50px;
  }
}

@media (max-width:950px) {
  .hero_title-d {
    max-width: 100%;
  }

  .hero_text-d {
    max-width: 100%;
  }
}

@media (max-width:840px) {
  .hero_img-d {
    width: 410px;
    height: 280px;
  }
}

@media (max-width:780px) {
  .hero-d {
    flex-wrap: wrap;
  }

  .hero_img-d {
    margin: 0 auto;
    margin-top: 25px;
  }

  .hero-card-d {
    text-align: center;
  }
}

@media (max-width:440px) {
  .hero_img-d {
    width: 350px;
    height: 230px;
  }
}

@media (max-width:440px) {
  .hero_img-d {
    width: 300px;
    height: 200px;
  }
}

@media (max-width:355px) {
  .hero_title-d {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }

  .hero_text-d {
    font-size: 14px;
    font-weight: 16px;
    max-width: 100%;
  }
  
  .hero_btn-d {
    font-size: 13px;
  }
}

@media (max-width:330px) {
  .hero_img-d {
    width: 250px;
    height: 170px;
  }
}